/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lessons{
    width:50%;
    margin-bottom:50px;
  }
  .top-wrapper h1{
    font-size:32px;
  }
  .heading h2{
    font-size:20px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .lessons{
    width:100%;
  }
  video{
    width:"100";
  }
  audio{
    width:"100"
  }
  .top-wrapper h1{
    font-size:24px;
    text-align:center;
    line-height:36px;
  }
}
