/* Mulai code Anda dari baris terakhir */

* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  width:100%;
  max-width: 100%;
  margin: 0 auto;
  background-color: black;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(bg.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 35px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  border-bottom:4px solid white;
}
hr{
  height: 4px;
  width: 300px;
  background: #E91E63;
  border: none;
  position: relative;
  animation-name: example;
  animation-duration: 30s;
  margin-top: -10px;
}

@keyframes example {
  0%   {background-color:red; left:200px; top:0px;}
  25%  {background-color:yellow; left:-200px; top:0px;}
  50%  {background-color:blue; left:200px; top:0px;}
  75%  {background-color:green; left:-200px; top:0px;}
  100% {background-color:red; left:200px; top:0px;}
}

.top-wrapper h1 {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn {
  padding: 12px 24px;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: black;
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 200px;
  margin-top: -20px;
}

.header-left {
  float: left;
  position: relative;
}
.header-left h1 {
  position: absolute;
  top: 15%;
  font-size: 25px;
  width: 100%;
  color: white;
}
.header-right {
  float: right;
}

.header-right a{
  background-color: #991c20;
  color:white;
}

.header-right a:hover {
  background-color: #5288d9;
  color:white;
}

.heading {
  padding: 20px 0px;
  background-color:#991c20; 
  width: 100%;
  text-align: center;
  color:white;
}
.heading:hover {
  background-color:white; 
  color:#991c20;
}
table{
  text-align: center;
  color: white;
  padding: 30px 0px;
}
th {
  background-color: #991c20;
  color: white;
}
td:hover {
  background-color: white;
  color:#991c20;
}
th, td {
  border: 1px solid;
}

footer img {
  width: 80px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
  position: absolute;
  top: 15%;
  font-size: 20px;
  width: 100%;
  color: white;
}

footer {
  background-color:#991c20;
  float:left;
  position: relative;
  width: 100%;
}
